
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    border-radius: 5px;
    background-color: #0a8153;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    /*gap: 30px;*/
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}


input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container {
    margin: 2.5rem 0;
    display: flex;
    padding: 10px;
}

.msg {
    width: 100%;
}

.mensagem {
    border: 1px solid #ccc;
}

.btn {
    margin: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
}

button {
    padding: 0.5em 0.5em;
    font-size: 1.2rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 0.5em;
}

button[type="button"] {
    background-color: #1875df;
    color: white;
    margin-right: 0.5em;
    
}

button[type="reset"] {
    background-color: #1875df;
    color: white;
    
}

button[type="submit"] {
    background-color: #4CAF50;
    
}

button:hover {
    background: black;
    opacity: 0.8;
}

footer {
    border-radius: 5px;
    background-color: #0a8153;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/*
@media screen and (min-width: 1280px){

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

    body {
        font-family: Arial, sans-serif;
        line-height: 1.2;
        background-color: #f4f4f4;
        padding: 20px;
    }
    
    header {
        background-color: #0a8153;
        color: #fff;
        text-align: center;
        padding: 10px 0;
    }
    
    header h1 {
        margin: 0;
    }

    .container {
        margin: 0.5rem 0;
        display: flex;
        padding: 10px;
    }

    input[type="text"],
    input[type="number"],
    input[type="tel"],
    input[type="email"],
    textarea,
    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: medium;
    }

    .msg {
        width: 50%;
        height: 28vh;
    }

    .btn {
        margin: 1rem;
        width: 50%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        background-color: #0a8153;
        color: #fff;
        text-align: center;
        padding: 8px 0;
        font-size: medium;
    }
    
}*/

